@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
    color: white;
    user-select: none;
    font-size: 3vmin;
}

::-webkit-scrollbar{
    display: none;
}
button{
    padding: 5px;
}

button:hover{
    color: deepskyblue;
    transition: all 0.25s;
}

.task{
    overflow-wrap: anywhere;
}
